.image {
  height: 300px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media(min-width: 960px) {
  .item {
    max-width: 20% !important;
    flex-basis: 20% !important;
  }
}
