.root {
  position: relative;
}

@media(max-width: 720px) {
  .root, .input {
    width: 100%;
  }
}

.icon {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.input input {
  color: #FFFFFF;
  padding-left: 48px;
  padding-right: 8px;
}
